<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap" rel="stylesheet">
    <title>Título da Página</title>
</head>
<body>
    <main>
        <div class="container-inicial">
            <p class="msg-inicial">
                UM PRESENTE ESPECIAL PARA
            </p>
            <p class="nome">Rayssa Mirella</p>
            <p class="idade">17 anos iluminando o mundo</p>
            <p class="msg-aniversario">Feliz Aniversário</p>
            <a href="{{ url_for('cards')}}">CLIQUE PARA COMEÇAR</a>
        </div>
    </main>
</body>
</html>
