<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Título da Página</title>
</head>
<body>
    <main>
        <div class="container-motivos">
            <p class="msg-inicial">
                DE CORAÇÃO
            </p>
            <div>
                <p class="msg-motivos">
                    17 Motivos Pelos Quais
                </p>
                <p class="msg-euteamo">
                    Eu Te Amo
                </p>

            </div>
            <div class="cards">
                
            </div>
        </div>
    </main>
</body>
</html>
