<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/style.css">
    <title>Título da Página</title>
</head>
<body>
    <main>
        <div class="container-motivos">
            <p class="msg-inicial">
                DE CORAÇÃO
            </p>
            <div class="msgs">
                <p class="msg-motivos">
                    17 Motivos Pelos Quais
                </p>
                <p class="msg-euteamo">
                    Eu Te Amo
                </p>

            </div>
            <div class="cards">
                {% for card in cards %}
                <div class="card">
                    <div class="frente">
                        <img src="{{ url_for('static', filename='img/coracao.svg') }}" alt="coração">
                        <p class="num">{{ card.id }}</p>
                        <p class="toque-abrir">
                            Toque para abrir
                        </p>
                    </div>
                    <div class="verso">
                        <p class="frase">
                            {{ card.frase }}
                        </p>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
        <div class="container-historia">
             <p class="msg-inicial">
                CADA MOMENTO IMPORTA
            </p>
            <div class="msgs">
                <p class="msg-motivos">
                    Nossa
                </p>
                <p class="msg-euteamo">
                    História
                </p>

            </div>
            <div class="tempo">
                <div class="comeco">
                    <p class="titulo">
                        O COMEÇO
                    </p>
                    <p class="desc">
                        O dia em que nossos caminhos se cruzaram e tudo mudou para sempre.
                    </p>
                </div>
                <div class="comeco">
                    <p class="titulo">
                        PRIMEIRA CONVERSA
                    </p>
                    <p class="desc">
                        A primeira conversa foi bem estranha 'bora amigar?' ksksks.
                    </p>
                </div>
                <div class="primeiro-encontro">
                    <p class="titulo">
                        PRIMEIRO ENCONTRO
                    </p>
                    <p class="desc">
                        Não lembro se teve encontro 😅.
                    </p>
                </div>
                <div class="pedido">
                    <p class="titulo">
                        O PEDIDO
                    </p>
                    <p class="desc">
                        Por incrível que pareça não teve pedido 👍🏻.
                    </p>
                </div>
                <div class="hoje">
                    <p class="titulo">
                        HOJE
                    </p>
                    <p class="desc">
                        Cada dia ao seu lado é o meu dia favorito. E hoje, mais do que nunca, celebro você.
                    </p>
                </div>
            </div>
        </div>
    </main>
</body>
</html>
